---
---
$base-size: 16px;
html {
    font-size: $base-size;
}

@import 'globals';

body {
    font-family: "Raleway";
    color: $primary-color;
    font-size: 1.25rem;
    background-color: $bg-color;
    background-image: url(/assets/img/bg_tile.png);
    background-repeat: repeat;
}

a {
    color: $link-color;
}

a:hover {
    color: $link-color;
}

.container-fluid {
    padding-top: 2.5rem;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin: 0px;
    padding: 0px;
}

.col {
    padding: 0px;
}

.content-row {
    padding-top: $row-top-pad;
    padding-bottom: $row-bot-pad;
}

.content-col {
    margin-left: $row-margin-side;
    margin-right: $row-margin-side;
    padding-left: $col-side-pad;
    padding-right: $col-side-pad;
}

.offset-row {
    background-color: $bg-color;
}

.title-row {
    padding-bottom: $title-bot-pad;
    text-align: center;
}

.subsection-row {
    padding-bottom: $subrow-bot-pad;
}

.section-title {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 3rem;
}

.subsection-title {
    font-family: "Roboto Slab";
    font-size: 2.25rem;
}

.thumbnail-div {
    width: 17rem;
    height: 12rem;
    text-align: center;
}

.thumbnail {
    width: auto;
    height: 100%;
}

.thumb-left-col {
    padding-left: $thumb-padding-horz;
}

.thumb-right-col {
    padding-right: $thumb-padding-horz;
}

.left-col {
    text-align: left;
}

.centered-col {
    text-align: center;
}

.right-col {
    text-align: right;
}

.button-row {
    margin-bottom: $subrow-bot-pad;
}

.button {
    padding: 0.4rem 0.7rem;
    color: $link-color;
    border: 2px solid $link-color;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

.button:hover {
    color: $bg-color;
    background-color: $link-color;
    text-decoration: none;
}

.header-row {
    height: $header-height;
}

.header-tint {
    width: 100%;
    background-color: $header-tint-color;
    display: flex;
    align-items: center;
}

.header-col {
    text-align: center;
    padding-left: $row-margin-side-tablet;
    padding-right: $row-margin-side-tablet;
}

.header-title {
    color: $bg-color;
    font-size: 4.5rem;
    font-family: "Roboto Slab";
    font-weight: bold;
    margin-bottom: $title-bot-pad;
}

.header-subtitle {
    color: $bg-color;
    font-size: 2.25rem;
    font-family: "Roboto Slab";
}

.image-caption {
    margin-bottom: 0px;
    font-size: 1rem;
    font-style: italic;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .content-col {
        margin-left: $row-margin-side-tablet;
        margin-right: $row-margin-side-tablet;
    }
}

// Small devices (Portrait phones or less)
@media (max-width: 767.98px) {
    body {
        text-align: center;
    }
    li {
        text-align: left;
    }
    .content-col {
        margin-left: $row-margin-side-mobile;
        margin-right: $row-margin-side-mobile;
    }
    .thumbnail {
        margin: auto;
    }
    .thumb-left-col {
        padding-left: 0px;
        padding-top: $thumb-padding-horz;
    }
    .thumb-right-col {
        padding-right: 0px;
        padding-top: $thumb-padding-horz;
    }
    .header-title {
        font-size: 3.5rem;
    }

}


@import 'navbar';
@import 'home';
@import 'about';
@import 'project';
@import 'footer';
