<div class="row subsection-row title-row ">
    <div class="col">
        <h1 class="section-title">{{ site.data.footer.contact_title }}</h1>
    </div>
</div>
<div class="row subsection-row">
    <div class="col">
        <div class="row justify-content-center">
            <div class="column">
                <img src="{{ site.url }}{{ site.data.footer.mail_icon }}" class="contact-icon" />
            </div>
            <div class="column">
                <p class="contact-text">{{ site.email }}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="column">
                <img src="{{ site.url }}{{ site.data.footer.phone_icon }}" class="contact-icon" />
            </div>
            <div class="column">
                <p class="contact-text">{{ site.phone }}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="column">
                <img src="{{ site.url }}{{ site.data.footer.linkedin_icon }}" class="contact-icon" />
            </div>
            <div class="column">
                <a class="contact-text" href="{{ site.linkedin}}" target="_blank" rel="noopener noreferrer">{{ site.data.aboutme.name }}</a>
            </div>
        </div>
    </div>
</div>
