<!-- {% assign syntax_parser = include.syntax_parser %} -->
{% assign js = include.js %}
<!-- Header -->
<div id="top"></div>
<div class="row header-row project-header" style="background-image:url({{js.banner}})">
    <div class="header-tint">
        <div class="col header-col">
            <h1 class="header-title">{{js.title}}</h1>
            <!-- <h1 class="header-title">{{syntaxparser}}</h1> -->
            <h3 class="header-subtitle project-header-subtitle">{{js.subtitle}}</h3>
        </div>
    </div>
</div>

<!-- Content section -->
<div class="row content-row">
    <div class="col content-col">
        <div class="row title-row">
            <div class="col">
                <h1 class="section-title">{{ js.content_title }}</h1>
            </div>
        </div>
        {% for section in js.details %}
        <div class="row subsection-title-row">
            <div class="col">
                <h2 class="subsection-title">{{ section.title }}</h2>
            </div>
        </div>
        {%
            include js_subsection.html
            sections=section.subsections
        %}
        {% endfor %}
    </div>
    
</div>
<div class="back-button">
    <form>
        <input type="button" value="Back" onclick="history.back()">
    </form>
</div>

<!-- Contacts section -->
<div class="row offset-row footer-row" id="contact">
    <div class="col content-col">
        {% include contact.html %}
        <div class="row">
            <div class="col centered-col">
                <a class="link" href="#top">{{ site.data.footer.top_link }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col centered-col">
                <a class="link" href="{{ site.url }}">{{ site.data.footer.home_link }}</a>
            </div>
        </div>
    </div>
</div>
