<nav class="navbar fixed-top navbar-expand-lg navbar-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <img src="{{site.url}}/assets/img/icons/menu_icon.png"></img>
        </span>
        <span class="navbar-menu-label">
            Menu
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="{{ site.url }}">Home</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item border-item" href="{{ site.url }}/#why">{{ site.data.aboutme.why.title }}</a>
                    <a class="dropdown-item" href="{{site.url}}{{site.data.aboutme.url}}">{{ site.data.aboutme.about_title }}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Work
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item border-item" href="{{site.url}}{{site.data.projects.general.url1}}">{{ site.data.projects.project1.title }}</a>
                    <a class="dropdown-item border-item" href="{{site.url}}{{site.data.projects.general.url2}}">{{ site.data.projects.project2.title  }}</a>
                    <a class="dropdown-item border-item" href="{{site.url}}{{site.data.projects.general.url3}}">{{ site.data.projects.project3.title  }}</a>
                    <a class="dropdown-item border-item" href="{{site.url}}{{site.data.projects.general.url4}}">{{ site.data.projects.project4.title  }}</a>
                    <a class="dropdown-item" href="{{site.url}}{{site.data.projects.general.url5}}">{{ site.data.projects.project5.title  }}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Learning
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <!-- {% for learning in site.data.learnings %}
                    <a class="dropdown-item border-item" href="{{ learning }}">{{ learning }}</a>
                    {% endfor %} -->
                    <a class="dropdown-item border-item" href="{{site.url}}{{site.data.learnings.general.url1}}">{{ site.data.learnings.tech.title }}</a>
                    <a class="dropdown-item" href="{{site.url}}{{site.data.learnings.general.url2}}">{{ site.data.learnings.hobby.title }}</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>
