{% assign project = include.project %}
<!-- Header -->
<div id="top"></div>
<div class="row header-row project-header" style="background-image:url({{project.banner}})">
    <div class="header-tint">
        <div class="col header-col">
            <h1 class="header-title">{{project.title}}</h1>
            <h3 class="header-subtitle project-header-subtitle">{{project.subtitle}}</h3>
        </div>
    </div>
</div>
<!-- Overview section -->
<div class="row offset-row content-row">
    <div class="col content-col">
        <div class="row title-row">
            <div class="col">
                <h1 class="section-title">{{ site.data.projects.general.overview_title }}</h1>
            </div>
        </div>
        <div class="row project-overview-row">
            <div class="col thumb-right-col">
                <div class="row overview-project-content-row">
                    <div class="col">
                        <h2 class="subsection-title overview-project-title">{{ site.data.projects.general.description_title }}</h2>
                        <div class="left-col">
                            <p class="project-text">{{ project.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="row overview-project-content-row">
                    <div class="col">
                        <h2 class="subsection-title overview-project-title">{{ site.data.projects.general.roles_title }}</h2>
                        <div class="left-col">
                            <p class="project-text">{{ project.roles }}</p>
                        </div>
                    </div>
                </div>
                <div class="row overview-project-content-row">
                    <div class="col">
                        <h2 class="subsection-title overview-project-title">{{ site.data.projects.general.tools_title }}</h2>
                        <div class="left-col">
                            <ul>
                                {% for tool in project.tools %}
                                <li><p class="project-text">{{ tool }}</p></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row overview-project-content-row">
                    <div class="col">
                        <h2 class="subsection-title overview-project-title">{{ site.data.projects.general.project_link_title }}</h2>
                        <div class="left-col">
                            {% if project.links | size > 0 %}
                            <ul>
                                {% for link in project.links %}
                                <li><a class="project-link" href="{{ link.link }}" target="_blank" rel="noopener noreferrer">{{ link.label }}</a></li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p class="project-text">{{ site.data.projects.general.no_links }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="thumbnail-div" id="overview-thumbnail">
                <img class="thumbnail" src="{{ project.thumbnail }}">
            </div>
        </div>
    </div>
</div>
<!-- Solution section -->
<div class="row content-row" id="solution">
    <div class="col content-col">
        <div class="row title-row">
            <div class="col">
                <h1 class="section-title">{{ site.data.projects.general.solution_title }}</h1>
            </div>
        </div>
        {% for section in project.details %}
        <div class="row subsection-title-row">
            <div class="col">
                <h2 class="subsection-title">{{ section.title }}</h2>
            </div>
        </div>
        {%
            include project_subsection.html
            sections=section.subsections
        %}
        {% endfor %}
    </div>
</div>
<!-- Contacts section -->
<div class="row offset-row footer-row" id="contact">
    <div class="col content-col">
        {% include contact.html %}
        <div class="row">
            <div class="col centered-col">
                <a class="link" href="#top">{{ site.data.footer.top_link }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col centered-col">
                <a class="link" href="{{ site.url }}">{{ site.data.footer.home_link }}</a>
            </div>
        </div>
    </div>
</div>
