{% assign py = include.python %}
<!-- Header -->
<div id="top"></div>
<div class="row header-row project-header" style="background-image:url({{py.banner}})">
    <div class="header-tint">
        <div class="col header-col">
            <h1 class="header-title">{{py.title}}</h1>
            <h3 class="header-subtitle project-header-subtitle">{{py.subtitle}}</h3>
        </div>
    </div>
</div>

<!-- Overview section -->
<div class="row content-row">
    <div class="col content-col">
        <div class="row title-row">
            <div class="col">
                <h1 class="section-title">{{ py.content_title }}</h1>
            </div>
        </div>
        
        {% for pydetails in py.details %} 
        <div class="row project-overview-row">
            <div class="row overview-project-content-row"> 
                <div class="col">
                    <h2 class="subsection-title overview-project-title">{{ pydetails.proglang }}</h2>
                    {% for topic in pydetails.topics %}
                    <div class="left-col">
                        <a class="project-text" href="{{topic.link}}">{{ topic.name }}</a>
                    </div>
                    {% endfor %}
                </div> 
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Solution section -->
<!-- <div class="row content-row" id="solution">

    <div class="col content-col">
        <div class="row title-row">
            <div class="col">
                <h1 class="section-title">{{ site.data.projects.general.solution_title }}</h1>
            </div>
        </div>
        {% for section in project.details %}
        <div class="row subsection-title-row">
            <div class="col">
                <h2 class="subsection-title">{{ section.title }}</h2>
            </div>
        </div>
        {%
            include project_subsection.html
            sections=section.subsections
        %}
        {% endfor %}
    </div>
</div> -->
<!-- Contacts section -->
<div class="row offset-row footer-row" id="contact">
    <div class="col content-col">
        {% include contact.html %}
        <div class="row">
            <div class="col centered-col">
                <a class="link" href="#top">{{ site.data.footer.top_link }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col centered-col">
                <a class="link" href="{{ site.url }}">{{ site.data.footer.home_link }}</a>
            </div>
        </div>
    </div>
</div>
