@import 'globals';

#header-bg {
    background-image: url(/assets/img/about/about_header.png);
    background-position: center;
    background-repeat: none;
    background-size:cover;
}

.about-thumbnail-div {
    height: 9.375rem;
    width: auto;
}

// Small devices (Portrait phones or less)
@media (max-width: 767.98px) {
    .about-thumbnail-div {
        width: 100%;
        text-align: center;
    }
}
