// Contains all global variables and styles

// Dimensions:
$header-height: 25rem;

// Margins:
$row-margin-side: 24%;
$row-margin-side-tablet: 7.5%;
$row-margin-side-mobile: 1.5%;
$row-top-pad: 3.125rem;
$row-bot-pad: 3rem;
$col-side-pad: 2rem;
$subrow-bot-pad: 2rem;
$title-bot-pad: 1rem;
$footer-bot-pad: 6rem;
$thumb-padding-horz: 1.25rem;
$thumb-padding-vert: 0.5rem;
$caption-bot-pad: 0.5rem;

// Colors
$primary-color: #606167;
$secondary-color: #FFFFFF;
$secondary-hover: #E5E5E5;
$bg-color: #FFFFFF;
$link-color: #EF6A6A;
$highlight-color: #8DAFC3;
$header-tint-color: rgba(0, 0, 0, 0.65);

$tint-color: rgba(100, 100, 100, 0.2);

// Fonts
@font-face {
    font-family: "Raleway";
    src: url(/assets/fonts/raleway.ttf);
}
@font-face {
    font-family: "Raleway";
    src: url(/assets/fonts/raleway_bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Raleway";
    src: url(/assets/fonts/raleway_italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: "Roboto Slab";
    src: url(/assets/fonts/robotoslab.ttf);
}
@font-face {
    font-family: "Roboto Slab";
    src: url(/assets/fonts/robotoslab_bold.ttf);
    font-weight: bold;
}
