@import 'globals';

$header-pad: 1.875rem;
$project-row-margin-bot: 2.5rem;
$project-title-margin-bot: 0.25rem;
$project-content-margin-bot: 1rem;

.headshot-row {
    padding-top: $header-pad;
    padding-bottom: $header-pad;
}

#headshot {
    width: 16rem;
    height: 16rem;
}

#title-div {
    display: flex;
    align-items: center;
    padding-left: $header-pad * 1.5;
}

#home-subtitle {
    font-size: 1.875rem;
    font-style: italic;
}

#why-quote {
    font-size: 1.875rem;
    font-family: "Roboto Slab";
    font-weight: bold;
    color: $highlight-color;
    text-align: center;
}

.home-project-overview-row {
    margin-bottom: $project-row-margin-bot;
}

.overview-project-content-row {
    margin-bottom: $project-content-margin-bot;
}

.overview-project-title {
    margin-bottom: $project-title-margin-bot;
}

.overview-project-subtitle {
    font-family: "Raleway";
    font-style: italic;
    font-size: 1.25rem;
    margin-bottom: $project-content-margin-bot;
}

// Small devices (Portrait phones or less)
@media (max-width: 767.98px) {
    #headshot {
        margin: auto;
    }
    #title-div {
        padding-top: $header-pad * 0.75;
        padding-left: 0px;
    }
}
