@import 'globals';

$single-image-pad: 25%;
$transition-time: 0.25s;
$max-height: 25rem;

.project-header {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-text {
    margin-bottom: 0px;
}

.project-link {
    font-weight: bold;
    font-style: italic;
}

.project-image-row {
    margin-bottom: $caption-bot-pad;
}

.single-image-col {
    padding-left: $single-image-pad;
    padding-right: $single-image-pad;
}

.project-image-pair {
    max-width: 100%;
    max-height: $max-height;
}

.project-image-pair:hover {
    -webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
    filter: brightness(50%);
    -webkit-transition: $transition-time -webkit-filter linear;
    -moz-transition: $transition-time -moz-filter linear;
    -moz-transition: $transition-time filter linear;
    -ms-transition: $transition-time -ms-filter linear;
    -o-transition: $transition-time -o-filter linear;
    transition: $transition-time filter linear, $transition-time -webkit-filter linear;
}

// Small devices (Portrait phones or less)
@media (max-width: 767.98px) {
    #overview-thumbnail {
        margin: auto;
    }

    .project-header-subtitle {
        display: none;
    }
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .image-pair-col {
        padding-bottom: $title-bot-pad;
    }

    .single-image-col {
        padding-left: 0px;
        padding-right: 0px;
    }

    .project-image-pair {
    }
}
